# !!! .dockerignore files cannot be nested in subdirectories, thus it does not work like .gitignore

# Local env
.env_*
.env

# IDE config
**/.run
**/.idea

# Build artifacts and cache
**/*.egg-info
**/build
**/.pytest_cache
**/*__pycache__*

# Test data
tmp
tests/test_data

# Local DAGSTER_HOME
tests/dagster_home/.logs_queue/
tests/dagster_home/.nux
tests/dagster_home/.telemetry/
tests/dagster_home/history/
tests/dagster_home/logs/
tests/dagster_home/schedules/
tests/dagster_home/storage/

# Virtual envs
venvs

# Documentation
**/site
**/docs

# Tools
**/.tox
**/.coverage
**/*.ruff_cache

# Other
experiments
deployment
scripts
